*{padding: 0; margin: 0;}
ul{ list-style: none; }
a{ text-decoration: none;}

/* 메뉴에 마우스를 올렸을때 서브메뉴 나오기 */
.submenu>li{
    line-height: 50px;  
    background-color: rgba(252, 252, 252, 0.409);
}

.submenu{   
    height: 0;  /*ul의 높이를 안보이게 처리*/
    overflow: hidden;  
}

.menu>li:hover{
    background-color: rgba(231, 118, 231, 0.2);  
    transition-duration: 0.5s;   
}

.menu>li:hover .submenu{
    height: 250px;   /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}

.menu>li:hover .submenu:hover{
    background-color: rgba(193, 240, 160, 0.59);
}
/* 메뉴 수정단 */

nav{
    width: 100%;
    overflow: hidden;
    position: fixed; /*메뉴바 상단고정*/
    background-color: rgba(160, 229, 240, 0.5);
}
nav>h1{
    float: left;
    width: 20%;
    line-height: 100px;
    color:#fff;
    text-align: center;
}
nav>ul{
    overflow: hidden;
    float: right;
    width: 40%;
    line-height: 100px;
    margin-right: 2%;
}
.menu>li{
    overflow: hidden;
    float: left;
    width: 20%;
    text-align: center;
}
nav li a{
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}
#main{
    width: 100%;
    min-height: 540px;
    background-image: url(../img/main.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
section{
    width: 63%;
    overflow: hidden;
    margin: 80px auto;
}
article{
    width: 33.3%;
    height: 300px;
    float: left;
    line-height: 300px;
    text-align: center;
    
}
article:hover {
    opacity: 0.5;
}

article img {
    width: 100%; /* 이미지를 article의 너비에 맞게 설정 */
    height: 100%; /* 이미지를 article의 높이에 맞게 설정 */
    object-fit: cover;
}

article:nth-child(2n){
    /*background-color: darksalmon;*/
}
@media screen and (max-width:1023px) {
    nav>h1{
        display: none;
    }   
    nav>ul{
        float: none;
        margin: 0 auto;
        width: 63%;
    }
    #main{
        background-image: url(/img/mainBg.jpg);
        min-height: 400px;
    }
    article{
        width: 50%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:767px){
    /* em - 특정한 폰트사이즈 기준의 배수값 :부모기준
       rem - "" : 최상단 html,body 기준*/
    *{font-size: 10px; /* 기본값16px*/}
    
    /* nav li{
        font-size: 15px;
    } */

    nav li a{
        font-size: 1.3rem /*10*1 = 10px */;
    }

    #main{
        min-height: 250px;
    }
    article{
        width: 100%;
        font-size: 1.5rem;
    }
}